In [17]:
# Dependencies
import numpy as np
import pandas as pd

In [18]:
### EXTRACT data from .csv files with Pandas
dfPew = pd.DataFrame
csvFile = 'Resources/pew2014.txt' # Converted pew_data_2014.sav to pew2014.txt using PSPP File Conversion Service (https://pspp.benpfaff.org/)
dfPew = pd.read_csv(csvFile,delimiter=',',encoding='utf-8',low_memory=False,dtype=str)
dfPew.head()

,resp,qsamptyp,qlan,state,cregion,WEIGHT,WGT_ATL_MSA,WGT_BAL_MSA,WGT_BOS_MSA,WGT_CHI_MSA,...,partyln,ideo,hh1rec,hh3rec,qpl1,qpl1a,qpc1,fertrec,SEX,qp99
0,1000001,1,1,25,1,0.4380282335365006,,,0.5132279568715175,,...,9,2,3,3,1,,,4,2,1
1,1000003,1,1,24,3,0.718143831763741,,,,,...,2,3,3,2,1,,,1,1,1
2,1000005,1,1,39,2,0.38424604331533485,,,,,...,,1,2,2,1,,,3,2,1
3,1000006,1,1,26,2,0.6630592744839532,,,,,...,9,1,3,3,1,,,2,2,1
4,1000008,1,1,12,3,1.6444447146642451,,,,,...,9,5,5,2,2,1,,3,2,1

In [19]:
dfPop2000 = pd.DataFrame
csvFile = 'Resources/population_by_zip_2000.csv'
dfPop2000 = pd.read_csv(csvFile,delimiter=',',encoding='utf-8',low_memory=False,dtype=str)
dfPop2000.head()

  minimum_age maximum_age  gender population zipcode          geo_id
0          10          14  female         75   39769  8600000US39769
1          85         NaN  female        130   44047  8600000US44047
2          30          34  female         11   42436  8600000US42436
3          22          24    male         22   99685  8600000US99685
4          67          69    male         69   04239  8600000US04239

In [20]:
dfPop2010 = pd.DataFrame
csvFile = 'Resources/population_by_zip_2010.csv'
dfPop2010 = pd.read_csv(csvFile,delimiter=',',encoding='utf-8',low_memory=False,dtype=str)
dfPop2010

        population minimum_age maximum_age  gender zipcode          geo_id
0               50          30          34  female   61747  8600000US61747
1                5          85         NaN    male   64120  8600000US64120
2             1389          30          34    male   95117  8600000US95117
3              231          60          61  female   74074  8600000US74074
4               56           0           4  female   58042  8600000US58042
5              524          22          24  female   75241  8600000US75241
6               10          60          61  female   70631  8600000US70631
7               13          80          84  female   17260  8600000US17260
8                1          80          84  female   80612  8600000US80612
9               68          15          17  female   54725  8600000US54725
10             306          22          24  female   01119  8600000US01119
11               5          70          74    male   88436  8600000US88436
12               4          15          17  female   95569  8600000US95569
13               8          10          14  female   54832  8600000US54832
14              29           0           4    male   55370  8600000US55370
15               0          80          84  female   67639  8600000US67639
16              22          70          74  female   71456  8600000US71456
17              15          25          29    male   27862  8600000US27862
18              25           5           9    male   30522  8600000US30522
19               8          21          21    male   47038  8600000US47038
20              12          60          61  female   25502  8600000US25502
21               7          67          69  female   44682  8600000US44682
22             238          70          74    male   49230  8600000US49230
23              16          18          19  female   66080  8600000US66080
24             180          70          74    male   30204  8600000US30204
25               6          70          74    male   63774  8600000US63774
26              18          40          44    male   57566  8600000US57566
27             274          85         NaN  female   19406  8600000US19406
28              54          45          49  female   15637  8600000US15637
29              39          80          84  female   12068  8600000US12068
...            ...         ...         ...     ...     ...             ...
1622801        629          40          44    male   47712  8600000US47712
1622802         16          67          69    male   50543  8600000US50543
1622803          4          20          20    male   99925  8600000US99925
1622804        591           5           9    male   96768  8600000US96768
1622805          7          65          66    male   69131  8600000US69131
1622806        226          20          20  female   19136  8600000US19136
1622807        611           5           9  female   22546  8600000US22546
1622808         24          62          64    male   99343  8600000US99343
1622809          0          25          29    male   27861  8600000US27861
1622810        383         NaN         NaN    male   41835  8600000US41835
1622811          6          70          74    male   57787  8600000US57787
1622812        341          10          14    male   35503  8600000US35503
1622813         58          85         NaN  female   50864  8600000US50864
1622814          0          62          64    male   98416  8600000US98416
1622815          1          21          21  female   50106  8600000US50106
1622816         92         NaN         NaN    male   18913  8600000US18913
1622817        242          75          79    male   19348  8600000US19348
1622818         11          25          29    male   59453  8600000US59453
1622819         33          25          29  female   41425  8600000US41425
1622820         17          62          64  female   47854  8600000US47854
1622821        762           5           9    male   30345  8600000US30345
1622822         17          18          19  female   66401  8600000US66401
1622823         35          80          84  female   90094  8600000US90094
1622824        180          30          34  female   29824  8600000US29824
1622825        378           5           9  female   66012  8600000US66012
1622826         66          15          17  female   28640  8600000US28640
1622827        791          25          29    male   98604  8600000US98604
1622828         55          55          59  female   29545  8600000US29545
1622829         10          25          29  female   45319  8600000US45319
1622830         65          35          39  female   71032  8600000US71032

[1622831 rows x 6 columns]

In [21]:
dfBars = pd.DataFrame
csvFile = 'Resources/8260_1.csv'
dfBars = pd.read_csv(csvFile,delimiter=',',encoding='utf-8',low_memory=False,dtype=str)
dfBars.head()

,id,address,categories,city,country,hours,keys,latitude,longitude,menus,name,postalCode,province,twitter,websites
0,AVweN1T_ByjofQCxwSPL,Syr Airport,Brewery,Syracuse,US,NaN,us/ny/syracuse/syrairport/2098450797,NaN,NaN,NaN,Adirondack Pub,NaN,NY,NaN,NaN
1,AVwdkF9ZIN2L1WUfxDfw,1320 N Doctor Martin Luther King Dr,Office and Cafeteria Brewer's Hill,Milwaukee,US,NaN,us/wi/milwaukee/1320ndoctormartinlutherkingdr/...,NaN,NaN,NaN,The Waterfront Cafe,53212,WI,NaN,NaN
2,AVwdlPkf_7pvs4fz7TMr,608 4th St,Brewery Downtown Clovis,Clovis,US,"[{""day"":""Wed - Sat"",""hour"":""5:00 PM - 8:00 PM""}]",us/ca/clovis/6084thst/-932885010,NaN,NaN,NaN,559 Local Brewing,93612,CA,NaN,http://fresnobrewing.com
3,AVwcucY0kufWRAb5yWbU,1103 Mills St,breweries & brew pubs,Black Earth,US,NaN,us/wi/blackearth/1103millsst/-757413411,43.138995,-89.747904,NaN,Shack The,53515-9454,WI,NaN,NaN
4,AVweCkd5kufWRAb5_eaI,130 W Riverside Dr,Brewery and Gastropub Downtown Jeffersonville,Jeffersonville,US,"[{""day"":""Wed - Thu"",""hour"":""3:00 PM - 9:00 PM""...",us/utica/jeffersonville/130wriversidedr/787280564,NaN,NaN,NaN,Flat12 Bierworks,47130,Utica,flat12bierwerks,http://flat12.me/brewery

In [22]:
### TRANSFORM data
# Convert column headers to list format for easy reference
columnsPew = dfPew.columns.values.tolist()
columnsPop2000 = dfPop2000.columns.values.tolist()
columnsPop2010 = dfPop2010.columns.values.tolist()
columnsBars = dfBars.columns.values.tolist()
print('columnsPew: ' + str(columnsPew))
print()
print('columnsPop2000: ' + str(columnsPop2000))
print()
print('columnsPop2010: ' + str(columnsPop2010))
print()
print('columnsBars: ' + str(columnsBars))

# Looks like the Pew data doesn't include zip code for each survey response (but it does include respondant's state and metro area)--maybe not worth fooling with...

columnsPew: ['resp', 'qsamptyp', 'qlan', 'state', 'cregion', 'WEIGHT', 'WGT_ATL_MSA', 'WGT_BAL_MSA', 'WGT_BOS_MSA', 'WGT_CHI_MSA', 'WGT_DAL_MSA', 'WGT_DC_MSA', 'WGT_DET_MSA', 'WGT_HOU_MSA', 'WGT_LA_MSA', 'WGT_MIA_MSA', 'WGT_MIN_MSA', 'WGT_NYC_MSA', 'WGT_PHI_MSA', 'WGT_PHO_MSA', 'WGT_PIT_MSA', 'WGT_PRO_MSA', 'WGT_RIV_MSA', 'WGT_SDI_MSA', 'WGT_SEA_MSA', 'WGT_SF_MSA', 'WGT_STL_MSA', 'WGT_TMP_MSA', 'qa1', 'qa2a', 'qa2b', 'qb1a', 'qb1b', 'qb1c', 'qb2a', 'qb2b', 'qb2c', 'qb2d', 'qb20', 'qb21', 'qb22', 'qb30', 'qb30b', 'qb31', 'marital', 'hisp', 'racecmb', 'racethn', 'qe1', 'qe2', 'qe3a', 'qe3b', 'qe3c', 'qe3d', 'qe3e', 'qe3f', 'qe3g', 'qe3h', 'qe3i', 'qe3j', 'qe3k', 'qe3l', 'qe3m', 'qe3n', 'qe3q', 'qe3r', 'qe3s', 'qe3t', 'qe3u', 'qe3v', 'born', 'DENOM', 'FAMILY', 'RELTRAD', 'PROTFAM', 'attend', 'qf2', 'qf5', 'qg1', 'qg1b', 'qg1c', 'qg3', 'qg5', 'qg6', 'qg7', 'qg7b', 'qh1', 'qh2', 'qh4', 'qi1', 'qi2a', 'qi2b', 'qi2c', 'qi2d', 'qi2g', 'qi2h', 'qi2m', 'qi2t', 'qi2u', 'qi3', 'qi3b', 'qi4a', 'qi4b', 'qi4c', 'qi4d', 'qj1', 'qj2', 'qj3a', 'qj3b', 'qj3c', 'qj3d', 'qj3e', 'qj3f', 'qj3g', 'qj3h', 'qj3i', 'qj3j', 'qj3k', 'qj3l', 'qj3m', 'qj3n', 'qj3q', 'qj3r', 'qj3s', 'qj3t', 'qj3u', 'qj3v', 'chborn', 'CHDENOM', 'CHFAMILY', 'CHRELTRAD', 'CHPROTFAM', 'qk1', 'qk2', 'spyearrec', 'sphisp', 'spracecmb', 'spracethn', 'qk3a', 'qk3b', 'qk3c', 'qk3d', 'qk3e', 'qk3f', 'qk3g', 'qk3h', 'qk3i', 'qk3j', 'qk3k', 'qk3l', 'qk3m', 'qk3n', 'qk3q', 'qk3r', 'qk3s', 'qk3t', 'qk3u', 'qk3v', 'spborn', 'SPDENOM', 'SPFAMILY', 'SPRELTRAD', 'SPPROTFAM', 'childrenrec', 'chage1rec', 'chageoldrec', 'chageyngrec', 'qk10a', 'qk10b', 'qk10c', 'qk10d', 'qm5a', 'qm5b', 'qm5d', 'qm5e', 'qm5f', 'qm5g', 'agerec', 'cohort5cat', 'educ', 'respondent_birthregion', 'qp3rec', 'qp4rec', 'father_birthregion', 'mother_birthregion', 'income', 'income2', 'reg', 'party', 'partyln', 'ideo', 'hh1rec', 'hh3rec', 'qpl1', 'qpl1a', 'qpc1', 'fertrec', 'SEX', 'qp99']

columnsPop2000: ['minimum_age', 'maximum_age', 'gender', 'population', 'zipcode', 'geo_id']

columnsPop2010: ['population', 'minimum_age', 'maximum_age', 'gender', 'zipcode', 'geo_id']

columnsBars: ['id', 'address', 'categories', 'city', 'country', 'hours', 'keys', 'latitude', 'longitude', 'menus', 'name', 'postalCode', 'province', 'twitter', 'websites']

In [23]:
dfBars.dropna(subset=['postalCode'],inplace=True) # Drop rows with no zip code listed
dfBars['postalCode'] = dfBars['postalCode'].str.zfill(5) # Prepend '0' if zip code less than 5 digits long
dfBars['postalCode'] = dfBars['postalCode'].str.slice(start=0,stop=5) # Keep only first 5 digits of zip code
dfBars

,id,address,categories,city,country,hours,keys,latitude,longitude,menus,name,postalCode,province,twitter,websites
1,AVwdkF9ZIN2L1WUfxDfw,1320 N Doctor Martin Luther King Dr,Office and Cafeteria Brewer's Hill,Milwaukee,US,NaN,us/wi/milwaukee/1320ndoctormartinlutherkingdr/...,NaN,NaN,NaN,The Waterfront Cafe,53212,WI,NaN,NaN
2,AVwdlPkf_7pvs4fz7TMr,608 4th St,Brewery Downtown Clovis,Clovis,US,"[{""day"":""Wed - Sat"",""hour"":""5:00 PM - 8:00 PM""}]",us/ca/clovis/6084thst/-932885010,NaN,NaN,NaN,559 Local Brewing,93612,CA,NaN,http://fresnobrewing.com
3,AVwcucY0kufWRAb5yWbU,1103 Mills St,breweries & brew pubs,Black Earth,US,NaN,us/wi/blackearth/1103millsst/-757413411,43.138995,-89.747904,NaN,Shack The,53515,WI,NaN,NaN
4,AVweCkd5kufWRAb5_eaI,130 W Riverside Dr,Brewery and Gastropub Downtown Jeffersonville,Jeffersonville,US,"[{""day"":""Wed - Thu"",""hour"":""3:00 PM - 9:00 PM""...",us/utica/jeffersonville/130wriversidedr/787280564,NaN,NaN,NaN,Flat12 Bierworks,47130,Utica,flat12bierwerks,http://flat12.me/brewery
5,AVwd3VPrIN2L1WUfz4u3,14300 N E 145th St,"Brewers,Wineries",Woodinville,US,NaN,us/wa/woodinville/14300ne145thst/-479625596,47.734648,-122.149773,NaN,Redhook Ale Brewery Inc,98072,WA,NaN,NaN
6,AVwdspyzIN2L1WUfyYRN,1007 S Tejon St,Brewery Downtown Colorado Springs,Colorado Springs,US,NaN,us/cospgs/coloradosprings/1007stejonst/2004582815,NaN,NaN,NaN,Gold Camp Brewing Co.,80903,Co Spgs,NaN,NaN
7,AVwdsRGiIN2L1WUfyU3Y,237 Jos Campau,"Brewery,Manufacturing",Detroit,US,"[{""day"":""Mon - Fri"",""hour"":""5:00 PM - 10:00 PM...",us/mi/detroit/237joscampau/2038815425,NaN,NaN,NaN,Atwater Block Brewery,48207,MI,atwaterbeer,http://www.atwaterbeer.com
8,AVwdrRLhIN2L1WUfyLO8,11160 Circle Dr,Brewers,Austin,US,NaN,us/circleville/austin/11160circledr/643286661,30.225785,-97.952191,NaN,Thristy Planet,78736,Circleville,NaN,NaN
9,AVwdrRPz_7pvs4fz8Pvh,96 Union St,"Brewer, ME",Brewer,US,NaN,us/me/brewer/96unionst/1905229880,NaN,NaN,NaN,Soup To Nuts,04412,ME,NaN,NaN
10,AVwdy7WFIN2L1WUfzSf5,3378 White Mountain Hwy,"Brewery and BBQ Joint,BBQ Joint,Brewery",North Conway,US,"[{""day"":""Mon"",""hour"":""1:00 PM - 8:00 PM""},{""da...",us/nconway/northconway/3378whitemountainhwy/-7...,44.06841641,-71.14390969,NaN,Moat Mountain Smoke House & Brewing Co.,03860,N Conway,moatmountain,http://moatmountain.com
11,AVwdy_qGkufWRAb59VVy,Kentnor St,Brewery,Iselin,US,NaN,us/nj/iselin/kentnorst/-1774778630,NaN,NaN,NaN,Black Dog Brewing Company,08830,NJ,blackdogbrew,http://blackdogbrewhouse.com
12,AVwckFsgByjofQCxfqkf,4098 Business Park Dr,Brewery,Amarillo,US,NaN,us/tx/amarillo/4098businessparkdr/-1385920542,NaN,NaN,NaN,Lws Brewery,79110,TX,lwsbrewing,http://lwsbrewing.com
13,AVwc2EGu_7pvs4fzzjzy,1924 N Hubbard St,Residential Building (Apartment / Condo) and B...,Milwaukee,US,NaN,us/wi/milwaukee/1924nhubbardst/2000719240,NaN,NaN,NaN,Shoeworks Loft,53212,WI,NaN,NaN
14,AVwchu1dkufWRAb5wJBk,293 Jt Connell Hwy,Brewery and Distillery,Newport,US,"[{""day"":""Mon, Wed - Sun"",""hour"":""Noon - 5:00 P...",us/ri/newport/293jtconnellhwy/-1905272344,41.51424931,-71.31590366,NaN,Coastal Extreme Brewing Company,02840,RI,nptstormluau,NaN
15,AVwchOw5ByjofQCxfH3P,Sierra Leona 720,Brewery and Restaurant,San Antonio,US,"[{""day"":""Tue - Wed"",""hour"":""1:00 PM - 11:00 PM...",us/tx/sanantonio/sierraleona720/-1553496629,22.13076115,-101.0190167,NaN,La Legendaria,78240,TX,la_legendaria,http://lalegendaria.com
16,AVwcocVzByjofQCxgdBZ,3942 Valley Ave,"Bars & Pubs,Breweries",Pleasanton,US,NaN,us/ca/pleasanton/3942valleyave/-1208872081,37.675973,-121.867101,NaN,Iron Oak Brewing Inc,94566,CA,NaN,NaN
17,AVwc2NtlkufWRAb5zpCS,7684 Madden Dr,Brewery,Fishers,US,NaN,us/in/fishers/7684maddendr/1830547756,NaN,NaN,NaN,Twizted Brews Brewhouse,46038,IN,NaN,NaN
18,AVwc2N95_7pvs4fzzllf,5300 W Baltimore Ave,Brewery,Clifton Heights,US,"[{""day"":""Sun"",""hour"":""10:00 AM - 5:00 PM""},{""d...",us/primos/cliftonheights/5300wbaltimoreave/-27...,NaN,NaN,NaN,Rite Buy Beverage,19018,Primos,NaN,NaN
19,AVwcrgtXkufWRAb5x3Ea,167,Brewery Lower East Side,New York,US,NaN,us/newyorkcity/newyork/167/-1304387734,NaN,NaN,NaN,Guinness,10002,New York City,NaN,NaN
20,AVwcuJi6IN2L1WUfoJrm,165 N 4th St,"Brewery Uptown District,brewery",Columbus,US,NaN,us/oh/columbus/165n4thst/1489037509,39.96629,-82.99688,"[{""amountMax"":32.00,""amountMin"":32.00,""currenc...",Elevator Brewery Brewquarters,43215,OH,NaN,NaN
21,AVwedfdv_7pvs4fzDL-a,19495 S W Vista Hill Dr,"Beverage Manufacturers,Breweries",Hillsboro,US,NaN,us/scholls/hillsboro/19495swvistahilldr/-18333...,45.392598,-123.034741,NaN,J Albin Winery Llc,97123,Scholls,NaN,NaN
22,AVweZ7fwkufWRAb5CnYi,2152 E Dauphin St,Breweries,Philadelphia,US,NaN,us/pa/philadelphia/2152edauphinst/1091528598,39.980191,-75.128411,NaN,Philly Home Brew Outlet,19125,PA,NaN,NaN
24,AVwcw2NHIN2L1WUfonw2,23182 Alcalde Dr,"Brewers,floors & flooring retail",Laguna Hills,US,NaN,us/lagunawoods/lagunahills/23182alcaldedr/-342...,33.621741,-117.726456,NaN,Krash Brewery,92653,Laguna Woods,NaN,http://florstor.com
25,AVwckj-6_7pvs4fzwlBH,10200 Corrales Rd N W,Brewery,Albuquerque,US,"[{""day"":""Fri - Sat"",""hour"":""11:00 AM - 11:00 P...",us/losranchosdeabq/albuquerque/10200corralesrd...,NaN,NaN,NaN,Boxing Bear Brewing Company,87114,Los Ranchos De Abq,NaN,http://boxingbearbrewing.com
26,AVwcvjrxIN2L1WUfoZPY,3737 Jefferson St,brewery,Kansas City,US,NaN,us/mo/kansascity/3737jeffersonst/1104775288,NaN,NaN,NaN,Great Scott Brewery,64111,MO,NaN,NaN
27,AVwebeV2IN2L1WUf41Pg,3222 Candelaria Rd N E,"beer & beverages,breweries & brew pubs,restaur...",Albuquerque,US,NaN,us/nm/albuquerque/3222candelariardne/1614988726,35.11641138,-106.6104861,NaN,Kellys Brewery,87107,NM,NaN,http://www.kellysbrewpub.com
28,AVwch6eaByjofQCxfQHi,31111 Via Colinas,Brewery,Thousand Oaks,US,NaN,us/ca/thousandoaks/31111viacolinas/-783799269,NaN,NaN,NaN,Westlake Brewing Company,91362,CA,NaN,NaN
29,AVwck1duByjofQCxfzmG,122 100 State St,Brewery,Ludlow,US,NaN,us/ma/ludlow/122100statest/-189728307,NaN,NaN,NaN,Iron Duke Brewing,01056,MA,NaN,NaN
30,AVwckaKlIN2L1WUfmbY7,2458 Fm 2458,"Breweries,Beer & Ale Distributors,Campgrounds ...",Justiceburg,US,"[{""day"":""Sun"",""hour"":""08:00 AM-02:00 PM""}]",us/tx/justiceburg/2458fm2458/-1252641149,33.055149,-101.160785,NaN,Bottom of The Hill,79330,TX,NaN,NaN
31,AVwedQJgIN2L1WUf5GAF,400 W,"Brewers,Brewery, Bar, and American Restaurant",Traverse City,US,"[{""day"":""Fri - Sat"",""hour"":""11:00 AM - Midnigh...",us/mi/traversecity/400w/104119617,44.764316,-85.62853,NaN,North Peak Brewing Company,49684,MI,NaN,http://api.citygridmedia.com/content/places/v2...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17791,AVwdhDTkByjofQCxp4ec,284 W Avondale Rd,"Beer and Ale,Beverages,Brewers,Breweries",West Grove,US,NaN,us/pa/westgrove/284wavondalerd/-249343813,39.79893,-75.84273,NaN,Evil Genius Beer Co,19390,PA,NaN,http://evilgeniusbeer.com
17792,AV1suWvs3-Khe5l_OVc4,966 Robello Ln,"Food Products-Wholesale,Food Processing and Ma...",Honolulu,US,NaN,us/hi/honolulu/966robelloln/-158451616,21.329453,-157.86147,NaN,Keoki's Lau Lau,96817,HI,NaN,http://halms-enterprises.myshopify.com/product...
17793,AVzA1CxZLD2H7whiWE5i,350 5th Ave,"Restaurant,American,Brewery,American Restauran...",New York,US,"[{""day"":""Monday - Tuesday, Sunday"",""hour"":""11:...",us/ny/newyork/3505thave/282252505,40.748108,-73.98538,NaN,Heartland Brewery,10118,NY,NaN,http://heartlandbrewery.com/
17794,AVwcnY5q_7pvs4fzxFgQ,111 W Adams St,"Restaurant,British,Breakfast & Brunch,Pub,Fish...",Chicago,US,"[{""day"":""Friday - Saturday"",""hour"":""11:00 AM -...",us/il/chicago/111wadamsst/-1639934135,41.879234,-87.63126,"[{""amountMax"":6.50,""amountMin"":6.50,""currency""...",Elephant & Castle,60603,IL,elephantcastle,"http://elephantcastle.com/,http://elephantcast..."
17795,AVzA1BPmLD2H7whiWE4W,961 2nd Ave,"Restaurant,Pubs,Sports Bar,Bar,Karaoke Bar,Bar...",New York,US,"[{""day"":""Monday - Friday"",""hour"":""10:00 AM - 4...",us/ny/newyork/9612ndave/-1031418808,40.75539,-73.96815,NaN,Cornerstone Tavern,10022,NY,NaN,http://cornerstonetavern.com
17796,AVwdrdVgIN2L1WUfyNH1,701 S 50th St,"Restaurant,Breakfast & Brunch,Caf,Brewery,Pizz...",Philadelphia,US,"[{""day"":""Mon - Fri"",""hour"":""7:00 am - 10:00 pm...",us/pa/philadelphia/701s50thst/-977130152,39.94759,-75.2229,NaN,Satellite Cafe,19143,PA,NaN,http://dockstreetbeer.com
17797,AVwcoWl4IN2L1WUfnJBi,9520 S Eastern Ave,"Restaurant,American,Pizza,Chain Restaurant,Bre...",Las Vegas,US,"[{""day"":""Monday - Thursday"",""hour"":""11:00 AM -...",us/nv/lasvegas/9520seasternave/554746294,36.015797,-115.118004,"[{""dateSeen"":[""2015-10-20T11:38:04Z""],""name"":""...",BJ's Restaurant and Brewhouse,89123,NV,bjsrestaurants,"http://www.bjsrestaurants.com/,http://t.co/bl4..."
17798,AVzA1YZWLD2H7whiWFPX,43 W 26th St,"Restaurant,Bar,American,Pubs,American Restaura...",New York,US,"[{""day"":""Monday - Sunday"",""hour"":""11:00 AM - 2...",us/ny/newyork/43w26thst/962355985,40.7446164,-73.9905614,NaN,Grey Bar and Restaurant,10010,NY,NaN,http://greybarnyc.com/
17799,AVzBEP-6LD2H7whiWLpz,4178 Koval Ln,"Restaurant,American,Bar,Brewery,Casino,Casinos...",Las Vegas,US,"[{""day"":""Monday - Sunday"",""hour"":""24 Hours""}]",us/nv/lasvegas/4178kovalln/-1241800015,36.112957,-115.163674,NaN,Ellis Island Casino & Brewery,89109,NV,NaN,http://ellisislandcasino.com/
17801,AV1TrgKuFcQ3k02bFgJF,75 Christopher Street,"Restaurant,Pubs,Brewery",New York,US,NaN,us/ny/newyork/75christopherstreet/-1281658339,40.733643,-74.00333,NaN,Fat Cat,10014,NY,NaN,NaN
17802,AV1Tpn7I3D1zeR_xEy-J,1913 South Kihei Road,"Restaurant,Vegetarian,Pubs,Bar,Brewery",Kihei,US,NaN,us/hi/kihei/1913southkiheiroad/2104010786,20.73203,-156.45142,NaN,What Ales You,96753,HI,NaN,http://whatalesyoumaui.com/
17804,AVzA2A7R3D1zeR_xBAaM,825 3rd Avenue,"Restaurant,American,Pubs,Bar,Brewery",New York,US,"[{""day"":""Monday, Sunday"",""hour"":""11:30 AM - 2:...",us/ny/newyork/8253rdavenue/625526837,40.75608,-73.97058,NaN,Ashton's Alley Sports Bar,10022,NY,NaN,http://www.ashtonsalley.com/
17805,AV1TrxkA3D1zeR_xFDpD,Village Square,"Restaurant,American,Brewery",Las Vegas,US,NaN,us/nv/lasvegas/villagesquare/2026886087,36.114646,-115.172816,NaN,Chicago Brewing Company,89117,NV,NaN,http://chicagobrewinglv.com/
17806,AVwdiR3lByjofQCxqEgO,210 NW 11th Ave,"Bars And Pubs,Craft Breweries,Brewery,Pub,Brew...",Portland,US,"[{""day"":""Monday - Thursday, Sunday"",""hour"":""11...",us/or/portland/210nw11thave/2114335365,45.5245056,-122.6820374,NaN,Deschutes Brewery Portland Public House,97209,OR,deschutespdxpub,https://www.deschutesbrewery.com/pubs/portland/
17807,AVwcusB-ByjofQCxhiZI,2609 S Stemmons Fwy,"American Restaurant,Pizza Place,Brewery,Restau...",Lewisville,US,"[{""day"":""Monday - Thursday"",""hour"":""11:00 AM -...",us/tx/lewisville/2609sstemmonsfwy/554746294,33.00016,-96.96208,"[{""currency"":""USD"",""dateSeen"":[""2017-07-16T04:...",BJ's Restaurant and Brewhouse,75067,TX,bjsrestaurants,http://t.co/bl46gcjDLN
17808,AVwcvxLSkufWRAb5yk-8,1735 19th St,"Steakhouse,Brewery,Restaurants,Bars Clubs,Bars...",Denver,US,"[{""day"":""Monday - Thursday, Sunday"",""hour"":""11...",us/co/denver/173519thst/1255227014,39.7552,-104.997,There are too many menus objects to show. Plea...,Denver ChopHouse & Brewery,80202,CO,denverchophouse,"http://www.denverchophouse.com,http://denverch..."
17809,AVwd3--LkufWRAb5-AQf,15103 Surveyor Blvd,Brewery,Addison,US,"[{""day"":""Friday"",""hour"":""4:00 PM - 9:00 PM""},{...",us/tx/addison/15103surveyorblvd/-1835780616,NaN,NaN,NaN,Bitter Sisters Brewing Company,75001,TX,bittersisters,http://bittersistersbrewery.com
17810,AV1grhoHRxPSIh2RaVFl,2720 NE Flanders St,"Brew Pubs,Bar and Grills,Beer and Ale,Restaura...",Portland,US,NaN,us/or/portland/2720neflandersst/-2053204580,45.52555,-122.63754,NaN,Migration Brewery,97232,OR,NaN,NaN
17811,AVwdym17ByjofQCxsiNH,633 Kalthoff Cmn,"Wineries,Wine,Fruit and Vegetable Growers and ...",Livermore,US,"[{""day"":""Friday - Sunday"",""hour"":""12:00 pm - 1...",us/ca/livermore/633kalthoffcmn/1021532234,37.62949,-121.79078,NaN,Tenuta Vineyards,94550,CA,tenutawine,http://www.tenutawinery.com
17812,AVwce8pdkufWRAb5voAH,1505 Hawthorne Blvd,"Liquor Stores,Wine,Beer and Ale,Wine Shop,Liqu...",Redondo Beach,US,"[{""day"":""Monday - Sunday"",""hour"":""9:00 am - 10...",us/ca/redondobeach/1505hawthorneblvd/-1152707038,33.86776,-118.35284,NaN,Total Wine More,90278,CA,totalwine,http://www.totalwine.com/store-info/california...
17813,AVzA9ngbFcQ3k02bBZwb,2402 Research Dr,"Brew Pubs,Beer and Ale,Liquor Stores,Restauran...",Livermore,US,"[{""day"":""Wednesday - Thursday"",""hour"":""4:00 pm...",us/ca/livermore/2402researchdr/-69143918,37.67625,-121.72009,NaN,Altamont Beer Works,94550,CA,NaN,http://www.altamontbeerworks.com
17814,AV5XwX9LRxPSIh2RipoU,4340 Old Santa Fe Rd,"Beer and Ale,Brewers",San Luis Obispo,US,NaN,us/ca/sanluisobispo/4340oldsantaferd/-1848365443,35.2387,-120.64972,NaN,Einhorn Beer Co,93401,CA,NaN,http://einhornbeer.com
17815,AVwdYOWB_7pvs4fz5Qko,2330 Main St,"Beverages,Beer and Ale,Liquor Stores,Brewery",Ramona,US,"[{""day"":""Thursday - Friday"",""hour"":""3:00 pm - ...",us/ca/ramona/2330mainst/-621899949,33.02773,-116.88932,NaN,Chuck Alek Independent Brewers,92065,CA,chuckalek,"http://www.chuckalek.com,http://chuckalek.com"
17816,AVweXuH-IN2L1WUf4UzI,673 Union St,"American Restaurants,Brew Pubs,Bars,Beer and A...",San Francisco,US,"[{""day"":""Monday - Thursday"",""hour"":""11:00 am -...",us/ca/sanfrancisco/673unionst/-366858876,37.79999,-122.41041,NaN,Rogue Ales Public House,94133,CA,rogueales,http://www.rogue.com
17817,AV1c57Fv3-Khe5l_MHLX,3920 Hecker Pass Rd,"Wineries,Beverages,Fruit and Vegetable Growers...",Gilroy,US,"[{""day"":""Monday - Sunday"",""hour"":""12:00 pm - 1...",us/ca/gilroy/3920heckerpassrd/627431902,37.01345,-121.64028,NaN,Rancho De Solis Winery,95020,CA,NaN,http://www.soliswinery.com
17818,AVwdtsEW_7pvs4fz8mDR,2436 Morrison Ln,"Wineries,Beverages,Brewers",Fairfield,US,NaN,us/ca/fairfield/2436morrisonln/-1128085751,38.26635,-122.11454,NaN,Bask Cellars,94534,CA,NaN,http://www.baskwines.com
17819,AVwdbm7h_7pvs4fz51CP,2711 W Girard Ave,"Restaurant,Pubs,Bar,Brewery,Bars & Pubs,Brewer...",Philadelphia,US,"[{""day"":""Monday - Thursday"",""hour"":""4:00 PM - ...",us/pa/philadelphia/2711wgirardave/1070407131,39.974457,-75.18084,"[{""currency"":""USD"",""dateSeen"":[""2017-07-16T06:...",Crime & Punishment Brewing Co,19130,PA,candpbrewingco,"http://candpbrewery.com,http://crimeandpunishm..."
17820,AVwdKtAi_7pvs4fz29Aw,312 Knickerbocker Ave.,"Restaurant,Breakfast & Brunch,Bakery,Bakeries,...",Brooklyn,US,"[{""day"":""Monday"",""hour"":""9:00 AM - 4:00 PM""},{...",us/ny/brooklyn/312knickerbockerave/-1702188086,40.70142,-73.9234,"[{""dateSeen"":[""2015-10-20T01:10:27Z"",""2016-03-...",Circo's Pastry Shop,11237,NY,circospastry,http://circospastryshop.com
17821,AV6a8ZmsIxWefVJwqvmS,330 S La Cienega Blvd,"Liquor Stores,Wine Stores,Breweries",Los Angeles,US,NaN,us/ca/losangeles/330slacienegablvd/93630837,NaN,NaN,NaN,Bevmo!,90048,CA,NaN,NaN
17822,AVzBGdwNLD2H7whiWMc8,481 8th Ave,"Restaurant,Seafood,Italian,Brewery,Bar,Steakhouse",New York,US,"[{""day"":""Monday - Sunday"",""hour"":""11:30 AM - 2...",us/ny/newyork/4818thave/1378867537,40.752705,-73.99348,NaN,Cooper's Tavern,10001,NY,NaN,http://www.cooperstavern.com/

In [24]:
dfPop2010.dropna(subset=['zipcode'],inplace=True)
dfPop2010['zipcode'] = dfPop2010['zipcode'].str.zfill(5)
dfPop2010['zipcode'] = dfPop2010['zipcode'].str.slice(start=0,stop=5)
dfPop2010

        population minimum_age maximum_age  gender zipcode          geo_id
0               50          30          34  female   61747  8600000US61747
1                5          85         NaN    male   64120  8600000US64120
2             1389          30          34    male   95117  8600000US95117
3              231          60          61  female   74074  8600000US74074
4               56           0           4  female   58042  8600000US58042
5              524          22          24  female   75241  8600000US75241
6               10          60          61  female   70631  8600000US70631
7               13          80          84  female   17260  8600000US17260
8                1          80          84  female   80612  8600000US80612
9               68          15          17  female   54725  8600000US54725
10             306          22          24  female   01119  8600000US01119
11               5          70          74    male   88436  8600000US88436
12               4          15          17  female   95569  8600000US95569
13               8          10          14  female   54832  8600000US54832
14              29           0           4    male   55370  8600000US55370
15               0          80          84  female   67639  8600000US67639
16              22          70          74  female   71456  8600000US71456
17              15          25          29    male   27862  8600000US27862
18              25           5           9    male   30522  8600000US30522
19               8          21          21    male   47038  8600000US47038
20              12          60          61  female   25502  8600000US25502
21               7          67          69  female   44682  8600000US44682
22             238          70          74    male   49230  8600000US49230
23              16          18          19  female   66080  8600000US66080
24             180          70          74    male   30204  8600000US30204
25               6          70          74    male   63774  8600000US63774
26              18          40          44    male   57566  8600000US57566
27             274          85         NaN  female   19406  8600000US19406
28              54          45          49  female   15637  8600000US15637
29              39          80          84  female   12068  8600000US12068
...            ...         ...         ...     ...     ...             ...
1622801        629          40          44    male   47712  8600000US47712
1622802         16          67          69    male   50543  8600000US50543
1622803          4          20          20    male   99925  8600000US99925
1622804        591           5           9    male   96768  8600000US96768
1622805          7          65          66    male   69131  8600000US69131
1622806        226          20          20  female   19136  8600000US19136
1622807        611           5           9  female   22546  8600000US22546
1622808         24          62          64    male   99343  8600000US99343
1622809          0          25          29    male   27861  8600000US27861
1622810        383         NaN         NaN    male   41835  8600000US41835
1622811          6          70          74    male   57787  8600000US57787
1622812        341          10          14    male   35503  8600000US35503
1622813         58          85         NaN  female   50864  8600000US50864
1622814          0          62          64    male   98416  8600000US98416
1622815          1          21          21  female   50106  8600000US50106
1622816         92         NaN         NaN    male   18913  8600000US18913
1622817        242          75          79    male   19348  8600000US19348
1622818         11          25          29    male   59453  8600000US59453
1622819         33          25          29  female   41425  8600000US41425
1622820         17          62          64  female   47854  8600000US47854
1622821        762           5           9    male   30345  8600000US30345
1622822         17          18          19  female   66401  8600000US66401
1622823         35          80          84  female   90094  8600000US90094
1622824        180          30          34  female   29824  8600000US29824
1622825        378           5           9  female   66012  8600000US66012
1622826         66          15          17  female   28640  8600000US28640
1622827        791          25          29    male   98604  8600000US98604
1622828         55          55          59  female   29545  8600000US29545
1622829         10          25          29  female   45319  8600000US45319
1622830         65          35          39  female   71032  8600000US71032

[1622831 rows x 6 columns]

In [25]:
dfPop2000.dropna(subset=['zipcode'],inplace=True)
dfPop2000['zipcode'] = dfPop2000['zipcode'].str.zfill(5)
dfPop2000['zipcode'] = dfPop2000['zipcode'].str.slice(start=0,stop=5)
dfPop2000

        minimum_age maximum_age  gender population zipcode          geo_id
0                10          14  female         75   39769  8600000US39769
1                85         NaN  female        130   44047  8600000US44047
2                30          34  female         11   42436  8600000US42436
3                22          24    male         22   99685  8600000US99685
4                67          69    male         69   04239  8600000US04239
5                50          54    male         67   05075  8600000US05075
6                65          66    male         62   08322  8600000US08322
7                85         NaN    male         42   54768  8600000US54768
8                15          17  female         20   04783  8600000US04783
9                85         NaN    male         85   73501  8600000US73501
10               15          17    male         13   68858  8600000US68858
11               70          74    male        119   57703  8600000US57703
12               80          84    male        192   06067  8600000US06067
13               30          34    male        766   33952  8600000US33952
14               75          79  female          2   49027  8600000US49027
15               67          69  female        240   31501  8600000US31501
16                0           4  female          7   67454  8600000US67454
17               40          44  female        143   16143  8600000US16143
18               30          34    male       1292   07017  8600000US07017
19               70          74    male        259   85013  8600000US85013
20               20          20  female        115   48838  8600000US48838
21               75          79  female          2   50165  8600000US50165
22               18          19  female         53   60554  8600000US60554
23               67          69    male          1   45353  8600000US45353
24               80          84    male         18   17090  8600000US17090
25               45          49    male         76   49616  8600000US49616
26              NaN         NaN     NaN      19607   06820  8600000US06820
27               25          29  female          7   86024  8600000US86024
28               45          49    male         72   05251  8600000US05251
29               22          24  female         41   33913  8600000US33913
...             ...         ...     ...        ...     ...             ...
1586051          50          54  female        104   15938  8600000US15938
1586052           0           4    male       1223   35211  8600000US35211
1586053          75          79  female          4   40874  8600000US40874
1586054          22          24  female          6   68367  8600000US68367
1586055          45          49  female          6   893XX  8600000US893XX
1586056          21          21    male         82   19810  8600000US19810
1586057          67          69    male         29   47520  8600000US47520
1586058         NaN         NaN     NaN        437   97731  8600000US97731
1586059          50          54  female          5   02875  8600000US02875
1586060          62          64  female         17   27915  8600000US27915
1586061          25          29    male         96   56013  8600000US56013
1586062         NaN         NaN     NaN       1738   01341  8600000US01341
1586063         NaN         NaN  female       1215   57430  8600000US57430
1586064          67          69    male         44   64054  8600000US64054
1586065          62          64    male         16   62053  8600000US62053
1586066          60          61  female          5   50214  8600000US50214
1586067          80          84    male         16   28617  8600000US28617
1586068          75          79    male         58   54768  8600000US54768
1586069          35          39  female         59   57533  8600000US57533
1586070          40          44  female         61   96783  8600000US96783
1586071          45          49  female         21   97870  8600000US97870
1586072           5           9    male        189   47567  8600000US47567
1586073          10          14  female        341   32054  8600000US32054
1586074          62          64  female          7   65768  8600000US65768
1586075          60          61    male         11   38674  8600000US38674
1586076          60          61  female        381   77351  8600000US77351
1586077          85         NaN  female         90   28277  8600000US28277
1586078          70          74    male        263   68505  8600000US68505
1586079          10          14    male        419   72086  8600000US72086
1586080          40          44    male         13   72517  8600000US72517

[1586081 rows x 6 columns]

In [26]:
dfPop2000['zipcode'].value_counts() # Entries per zip code (population data is divided by age and gender, so we'll need to calculate sums)

52732    49
35022    49
56032    49
11102    49
38347    49
51528    49
97326    49
04781    49
59354    49
35603    49
61822    49
38543    49
49813    49
52226    49
24963    49
97058    49
76554    49
39116    49
00772    49
08629    49
16212    49
01568    49
04685    49
07032    49
54480    49
50311    49
36776    49
64841    49
43158    49
58460    49
         ..
54557    49
82051    49
78747    49
48766    49
78728    49
60913    49
37074    49
24270    49
27107    49
49341    49
80829    49
21532    49
84325    49
87111    49
01453    49
48847    49
99018    49
72422    49
38343    49
68778    49
35503    49
12459    49
66044    49
21627    49
33916    49
99633    49
28444    49
06807    49
64020    49
30256    49
Name: zipcode, Length: 32369, dtype: int64

In [27]:
dfPop2010['zipcode'].value_counts() # Entries per zip code (population data is divided by age and gender, so we'll need to calculate sums)

52732    49
48152    49
38347    49
51528    49
97326    49
04781    49
59354    49
35603    49
61822    49
38543    49
83301    49
24963    49
35022    49
97058    49
39116    49
00772    49
94545    49
16212    49
01568    49
04685    49
07032    49
54480    49
50311    49
36776    49
64841    49
43158    49
58460    49
64011    49
83547    49
84529    49
         ..
73434    49
84325    49
87111    49
01453    49
48847    49
99018    49
72422    49
38343    49
68778    49
35503    49
12459    49
66044    49
21627    49
33916    49
28444    49
28107    49
06807    49
64020    49
82051    49
54557    49
00707    49
36112    49
67482    49
24614    49
43516    49
45244    49
24064    49
16821    49
45430    49
30256    49
Name: zipcode, Length: 33119, dtype: int64

In [28]:
dfBars['postalCode'].value_counts() # Bars per zip code

04412    57
93446    51
94558    49
95448    44
43215    42
80301    40
99362    39
94574    38
80205    36
92121    35
98107    34
28801    30
98402    29
92104    29
98072    29
98134    28
98103    28
80524    27
97214    27
93401    25
53212    25
92081    25
97124    24
94550    24
85281    24
04101    23
98225    23
03801    23
97209    22
92590    22
         ..
45822     1
49801     1
11520     1
14621     1
33186     1
10523     1
97006     1
14103     1
49045     1
77062     1
77479     1
61548     1
59901     1
93456     1
11721     1
45231     1
97008     1
55330     1
30170     1
31701     1
63050     1
97216     1
21160     1
06160     1
55616     1
04553     1
10314     1
73034     1
77095     1
21074     1
Name: postalCode, Length: 6097, dtype: int64

In [29]:
# Convert population data to int so we can do math and stuff on it
dfPop2000['population'] = dfPop2010['population'].astype(int)
dfPop2010['population'] = dfPop2010['population'].astype(int)

In [30]:
# Just out of curiosity...
grouped2000 = dfPop2000.groupby(['zipcode','gender'])['population'].sum()
grouped2010 = dfPop2010.groupby(['zipcode','gender'])['population'].sum()
print(grouped2000.head())
print(grouped2010.head())
# Can we calculate sex ratio (male population / female population) in Pandas?

zipcode  gender
00601    female     1469
         male       7665
00602    female     5000
         male       7620
00603    female    14015
Name: population, dtype: int64
zipcode  gender
00602    female    42248
         male      40792
00603    female    56184
         male      53194
00606    female     6694
Name: population, dtype: int64

In [31]:
# Merge 2000 and 2010 population dataframes
#columnsPop2000: ['minimum_age', 'maximum_age', 'gender', 'population', 'zipcode', 'geo_id']

#columnsPop2010: ['population', 'minimum_age', 'maximum_age', 'gender', 'zipcode', 'geo_id']
dfPop = pd.DataFrame
dfPop = dfPop2000.merge(dfPop2010, on='zipcode')

In [33]:
dfPop.rename(columns={'minimum_age_x':'minimum_age_2000','maximum_age_x':'maximum_age_2000','gender_x':'gender_2000','population_x':'population_2000','geo_id_x':'geo_id_2000','population_y':'population_2010','minimum_age_y':'minimum_age_2010','maximum_age_y':'maximum_age_2010','gender_y':'gender_2010','maximum_age_y':'maximum_age_2010','geo_id_y':'geo_id_2010'},inplace=True)

In [34]:
dfPop.head()

,minimum_age_2000,maximum_age_2000,gender_2000,population_2000,zipcode,geo_id_2000,population_2010,minimum_age_2010,maximum_age_2010,gender_2010,geo_id_2010
0,10,14,female,50,39769,8600000US39769,79,45,49,female,8600000US39769
1,10,14,female,50,39769,8600000US39769,49,5,9,male,8600000US39769
2,10,14,female,50,39769,8600000US39769,40,15,17,male,8600000US39769
3,10,14,female,50,39769,8600000US39769,53,10,14,male,8600000US39769
4,10,14,female,50,39769,8600000US39769,31,62,64,male,8600000US39769

In [38]:
dfPop.groupby(['zipcode','gender_2000'])['population_2000'].sum()

zipcode  gender_2000
00602    female          245000
         male            373380
00603    female          686735
         male            735637
00606    female         1558592
         male            392588
00610    female         2199120
         male           1522283
00612    female          458248
         male           1468677
00616    female          238189
         male            388031
00617    female          213640
         male            917378
00622    female          306593
         male            432327
00623    female         3564897
         male            313649
00624    female         1861412
         male            996807
00627    female          233044
         male            164689
00631    female          540568
         male            278810
00637    female          313698
         male            166110
00638    female         1589511
         male            433601
00641    female          579866
         male            639156
                         ...
99833    female          218344
         male            550270
99835    female          264845
         male            204477
99840    female          263032
         male           2034284
99841    female          291158
         male           2383948
99901    female          181496
         male            721231
99903    female         1050462
         male             96432
99918    female          135877
         male            285033
99919    female         2471021
         male            462805
99921    female          176792
         male            368970
99922    female          332710
         male           2110234
99923    female         3966893
         male           2174816
99925    female          659540
         male            958342
99926    female          191688
         male            224665
99927    female         1622733
         male            372939
99929    female          286258
         male            784392
Name: population_2000, Length: 62754, dtype: int64

In [ ]:
### LOAD transformed data into SQL database

# SQL dependencies
import sqlalchemy
from sqlalchemy import create_engine
from config import username, password

In [ ]:
# Create connection to Bars_db
rds_connection_string = username + ':' + password + '@127.0.0.1/Bars_db'
engine = create_engine(f'mysql://{rds_connection_string}')